.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 15px;
  background-color: red;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px 60px;
}

.divinput {
  margin-bottom: 10px;
}

input {
  width: 235px;
  height: 50px;
}

.grid button {
  background-color: white;
  border: none;
  margin: 5px;
  border-radius: 5px;
  outline: none;
}